// 기본 폰트의 색상은 red , size는 14px, 행간은 21px, 자간은 -1px을 변수로 선언
// 변수로 처리하게되면 한번에 제어가 가능
@font-base-color:red;
@font-base-size:14px;
@font-base-line_height:21px;
@font-base-letter_spacing:-1px;

.wrap{
	.inCon{
		.computer{
			letter-spacing:@font-base-letter_spacing;
			line-height:@font-base-line_height;
			color:@font-base-color;
			font-size:@font-base-size;
		}
		:before{
			display: block;
		}
	}
}

